Language: Cpp

TabWidth: 4
IndentWidth: 8
UseTab: Always


BreakBeforeBraces: Allman
NamespaceIndentation: All

AllowShortFunctionsOnASingleLine: Inline
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true

PointerAlignment: Right
ReferenceAlignment: Pointer

SortIncludes: true